Data downloaded from:
[http://data.dft.gov.uk/anonymised-mot-test/test_data/dft_test_result_2019.zip](https://data.gov.uk/dataset/e3939ef8-30c7-4ca8-9c7c-ad9475cc9b2f/anonymised-mot-tests-and-results)

Zip file extracted to local disk, then 4 csv files put into the `mot-data/data` folder

In [1]:
# Import and create a new database file
import sqlite3
from sqlite3 import Error
import os

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection(os.path.join('data','mot.sqlite'))

Connection to SQLite DB successful

In [35]:
# Create function to simply execute query
def execute_query(connection, query, firstonly=False, verbose=True):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        if verbose:print("Query executed successfully");
    except Error as e:
        print(f"The error '{e}' occurred")
    if firstonly:
        return cursor.fetchone()
    else:
        return cursor.fetchall()

def insert_query(connection, query, t, verbose=True):
    cursor = connection.cursor()
    try:
        cursor.executemany(query, t)
        connection.commit()
        if verbose:print("Query executed successfully");
    except Error as e:
        print(f"The error '{e}' occurred")
    return

In [125]:
import pandas as pd
import os

names = ['test_id','vehicle_id','test_date','test_class_id','test_type','test_result','test_mileage','postcode_area','make','model','colour','fuel_type','cylinder_capacity','first_use_date']
dtypes = {'test_id':'int', 
          'vehicle_id':'int',
          'test_date':'object', 
          'test_class_id':'int',
          'test_type':'object', 
          'test_result':'object', 
          'test_mileage':pd.Int64Dtype(),
          'postcode_area':'object', 
          'make':'object', 
          'model':'object', 
          'colour':'object',
          'fuel_type':'object', 
          'cylinder_capacity':'object', 
          'first_use_date':'object'}
na_values = {'test_mileage':-1}

In [183]:
# Create mot1 table
execute_query(connection,'''
DROP TABLE IF EXISTS mot1;
''')

execute_query(connection,'''
DROP TABLE IF EXISTS passtable;
''')

execute_query(connection, '''
CREATE TABLE mot1 (
  test_id INTEGER,
  vehicle_id INTEGER,
  test_date TEXT,
  test_class_id INTEGER,
  test_type TEXT,
  test_result INTEGER,
  test_mileage INTEGER,
  postcode_area TEXT,
  make TEXT,
  model TEXT,
  colour TEXT,
  fuel_type TEXT,
  cylinder_capacity INTEGER,
  first_use_date TEXT,
  FOREIGN KEY(test_result) REFERENCES passtable(test_result)
);
''')
# FOREIGN KEY(test_class_id) REFERENCES classtable(test_class_id),


# execute_query(connection, '''
# CREATE TABLE classtable (
#     test_class_id INTEGER,
#     description TEXT
# );
# ''')

# insert_query(connection, '''
# INSERT INTO classtable (test_class_id, description)
# VALUES (?,?) (?,?) (?,?) (?,?) (?,?) (?,?) (?,?)
# ''', ())

execute_query(connection, '''
CREATE TABLE passtable (
    test_result INTEGER,
    test_result_code TEXT,
    description TEXT
);
''')

insert_query(connection, '''
INSERT INTO passtable (test_result, test_result_code, description)
VALUES (?,?,?)
''', [(0,'P','Pass'),
     (1,'F','Fail'),
     (2,'PRS','Pass with rectification'),
     (3,'ABA','Abandon with fee charged'),
     (4,'ABR','Abort with no fee due to equipment etc'),
     (5,'ABRVE','Abort with no fee due to examiner')])

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [ ]:
print(*execute_query(connection,'SELECT * FROM mot1 limit 20;', verbose=False))

In [100]:
# Verify passtable looks right
execute_query(connection,'SELECT * FROM passtable limit 20;', verbose=False)

[(0, 'P', 'Pass'),
 (1, 'F', 'Fail'),
 (2, 'PRS', 'Pass with rectification'),
 (3, 'ABA', 'Abandon with fee charged'),
 (4, 'ABR', 'Abort with no fee due to equipment etc'),
 (5, 'ABRVE', 'Abort with no fee due to examiner')]

In [184]:
# Modidfied copy
from datetime import datetime
list_nats = []

def mot_to_sql(path, connection, tablename, list_nats=[], if_exists='append'):
    # Alternative simpler code, straight from dataframe to sql.
    for i, chunk in enumerate(pd.read_csv(os.path.join('data',path),
                             sep=',', delim_whitespace=False,
                             names=names, dtype=dtypes, engine='python',
                             chunksize=200000, iterator=True, header=0,
                             error_bad_lines=False, warn_bad_lines=True, doublequote=False)):
        #DEBUGGING
        #if i>10:break

        # Encode pass results to adhere to lookup table
        chunk.loc[chunk['test_result'] == 'P','test_result'] = 0
        chunk.loc[chunk['test_result'] == 'F','test_result'] = 1
        chunk.loc[chunk['test_result'] == 'PRS','test_result'] = 2
        chunk.loc[chunk['test_result'] == 'ABA','test_result'] = 3
        chunk.loc[chunk['test_result'] == 'ABR','test_result'] = 4
        chunk.loc[chunk['test_result'] == 'ABRVE','test_result'] = 5
        chunk['test_result'] = chunk['test_result'].astype(int)

        # Clean nan mileages
        chunk.loc[pd.isna(chunk['test_mileage']),'test_mileage'] = -1

        # Clean nan engine sizes
        chunk.loc[pd.isna(chunk['cylinder_capacity']),'cylinder_capacity'] = -1

        # Clean dates
        chunk['test_date'] = pd.to_datetime(chunk['test_date'],format='%Y-%m-%d', errors='coerce')
        chunk['first_use_date'] = pd.to_datetime(chunk['first_use_date'],format='%Y-%m-%d', errors='coerce')

        chunk.to_sql(tablename, connection, if_exists=if_exists, index = False)
        print(f'chunknum {i} completed.')
        
        is_nat = pd.isna(chunk['first_use_date'])
        if any(is_nat):
            list_nats.extend(chunk[is_nat]['test_id'].values)
            print('...NaT detected')

    return list_nats
        
list_nats = mot_to_sql('dft_test_result-from-2019-01-01_00-00-01-to-2019-04-01_00-00-01.csv',connection,'mot1',list_nats=[],if_exists='append')
print(list_nats)

chunknum 0 completed.
chunknum 1 completed.
chunknum 2 completed.
...NaT detected
chunknum 3 completed.
chunknum 4 completed.
chunknum 5 completed.
chunknum 6 completed.
chunknum 7 completed.
chunknum 8 completed.
chunknum 9 completed.
chunknum 10 completed.
chunknum 11 completed.
chunknum 12 completed.
...NaT detected
chunknum 13 completed.
chunknum 14 completed.
chunknum 15 completed.
chunknum 16 completed.
...NaT detected
chunknum 17 completed.
...NaT detected
chunknum 18 completed.
chunknum 19 completed.
...NaT detected
chunknum 20 completed.
...NaT detected
chunknum 21 completed.
chunknum 22 completed.
...NaT detected
chunknum 23 completed.
chunknum 24 completed.
chunknum 25 completed.
chunknum 26 completed.
chunknum 27 completed.
chunknum 28 completed.
chunknum 29 completed.
chunknum 30 completed.
chunknum 31 completed.
chunknum 32 completed.
chunknum 33 completed.
chunknum 34 completed.
...NaT detected
chunknum 35 completed.
chunknum 36 completed.
chunknum 37 completed.
chunknum 38 completed.
chunknum 39 completed.
chunknum 40 completed.
chunknum 41 completed.
chunknum 42 completed.
chunknum 43 completed.
chunknum 44 completed.
...NaT detected
chunknum 45 completed.
chunknum 46 completed.
...NaT detected
chunknum 47 completed.
chunknum 48 completed.
chunknum 49 completed.
chunknum 50 completed.
chunknum 51 completed.
[1508254279, 1487206527, 1197994457, 1371175063, 1969863607, 713113865, 1926654095, 758782857, 20432289, 1951363753, 267869835]

In [ ]:
df = pd.read_sql_query('''

''')

In [167]:
df = pd.read_sql_query('''SELECT * FROM mot1 
LEFT JOIN passtable 
ON passtable.test_result = mot1.test_result;''', connection)

import sys
print(sys.getsizeof(df),'bytes')
df.info()

27725002 bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   test_id            40000 non-null  int64
 1   vehicle_id         40000 non-null  int64
 2   test_date          40000 non-null  object
 3   test_class_id      40000 non-null  int64
 4   test_type          40000 non-null  object
 5   test_result        40000 non-null  int64
 6   test_mileage       40000 non-null  int64
 7   postcode_area      40000 non-null  object
 8   make               40000 non-null  object
 9   model              40000 non-null  object
 10  colour             40000 non-null  object
 11  fuel_type          40000 non-null  object
 12  cylinder_capacity  40000 non-null  int64
 13  first_use_date     40000 non-null  object
 14  test_result        40000 non-null  int64
 15  test_result_code   40000 non-null  object
 16  description        40000 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.2+ MB

In [156]:
# Show schema
print(execute_query(connection,'''
SELECT sql
FROM sqlite_master
WHERE type="table"
AND name="mot1";
''')[0][0])

Query executed successfully
CREATE TABLE mot1 (
  test_id INTEGER,
  vehicle_id INTEGER,
  test_date TEXT,
  test_class_id INTEGER,
  test_type TEXT,
  test_result INTEGER,
  test_mileage INTEGER,
  postcode_area TEXT,
  make TEXT,
  model TEXT,
  colour TEXT,
  fuel_type TEXT,
  cylinder_capacity INTEGER,
  first_use_date TEXT,
  FOREIGN KEY(test_result) REFERENCES passtable(test_result)
)

In [176]:
list_nats

[]

In [ ]:
df = pd.read_csv(os.path.join('data','dft_test_result-from-2019-01-01_00-00-01-to-2019-04-01_00-00-01.csv'), 
                 sep=',', delim_whitespace=False,
                 names=names, dtype=dtypes, engine='python', chunksize=20000,
                 error_bad_lines=False, warn_bad_lines=True)

In [ ]:
lines = list(range(7795035, 7795036))

with open(os.path.join('data','dft_test_result-from-2019-01-01_00-00-01-to-2019-04-01_00-00-01.csv')) as fp:
    for i, line in enumerate(fp):
        if i in lines:
            print(f'[{i}]{repr(line)}')
        elif i > max(lines):
            break

In [ ]:
df.to_sql('table1', connection, if_exists='replace', index = False)

Columns in dataset are:
test_id,vehicle_id,test_date,test_class_id,test_type,test_result,test_mileage,postcode_area,make,model,colour,fuel_type,cylinder_capacity,first_use_date